.card_loadout
{
    list-style-type: none;
    display: flex;
    max-width: 100%;
    text-align: center;
    background-color: #9296f9;
}

.card_loadout p
{
  color: white;
  font-weight: bold;
  padding: 0 1rem;
}



